/* Custom Navbar styles */
.navbar {
  padding: 10px 20px;
}

.navbar-nav {
  font-size: 16px;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: #007bff;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link:hover {
  color: #0056b3;
}

.navbar-brand img {
  max-width: 120px; /* Đảm bảo logo không quá lớn */
  height: auto;
}

.navbar-toggler-icon {
  background-color: #007bff; /* Màu icon navbar */
}

/* Căn giữa logo và menu */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  justify-content: center; /* Căn giữa menu */
}

.navbar .dropdown-menu {
  min-width: 200px; /* Đặt chiều rộng tối thiểu cho dropdown menu */
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Khi màn hình nhỏ, các mục menu sẽ xếp chồng */
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px; /* Tạo khoảng cách giữa các mục menu */
  }
}
