h2 {
    color: #0052CC;
  }
  
  .table th {
    font-weight: 600;
    cursor: pointer;
  }
  

  
  .shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary {
    background-color: #0052CC;
    border-color: #0052CC;
  }
  
  .btn-primary:hover {
    background-color: #003087;
    border-color: #003087;
  }